{% extends 'base.html.twig' %}

{% block title %}Recherche d'annonce ou d'entreprise!{% endblock %}

{% block body %}
{% if app.request.method == 'POST' %}
    <div>
    <h3 class="mt-3">Vos résulats de recherche :</h3>
    {% if annonces | length == 0%}
    
               <h4>Aucun résulat pour les annonces.</h4>
               {% else %}
              <h5>Resultat annonce</h5>
              {% for annonce in annonces %}
              <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">{{annonce.titre}}</h5>
                    <p>{{annonce.description[:200]}}...</p>
                    <a href="{{ path('annonce.detail', {id: annonce.id}) }}" class="btn btn-primary">Voir l'annonce</a>
                    {% if annonce.iduser == iduser %}
                    <a href="{{ path('annonce.modifier', {id: annonce.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('annonce.supprimer', {id: annonce.id}) }}" class="btn btn-primary">Supprimer</a>
                    {%endif%}
                </div>
                </div>
              {% endfor %}
              {% endif %}
        {% if entreprises | length == 0%}
            <h4>Aucun résulat pour les entreprises.</h4>
           {% else %}
               
               <h5>Résultat entreprise</h5>
               {% for entreprise in entreprises %}
               <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">{{entreprise.nom}}</h5>
                    {% if entreprise.logo != null %}
                    <img class="fit-picture" src="{{ asset('uploads/logo/' ~ entreprise.logo) }}" width="15%" alt="{{entreprise.nom}} Logo">
                    {%endif%}
                    <a href="{{ path('entreprise.detail', {id: entreprise.id}) }}" class="btn btn-primary">Voir la page de {{entreprise.nom}}</a>
                    {% if entreprise.iduser==iduser %}
                    <a href="{{ path('entreprise.modifier', {id: entreprise.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('entreprise.supprimer', {id: entreprise.id}) }}" class="btn btn-primary">Supprimer</a>
                    {%endif%}
                </div>
                </div>
              {% endfor %}
                {% endif %}
               
          
     </div>
{% endif %}
{% endblock %}
